In [3]:
#1.Explain with an example each when to use a for loop and a while loop.
# for loop is used to iterate through a sequence like string,list,tuple,sets,etc when we know what is iteratable.
for i in range(0,5):
    print(i)

0
1
2
3
4

In [4]:
#while loop is used when we to repeat the process until it satisfy a certain condition
i = 0
while i <= 6:
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [1]:
#Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
#using  while loop
#sum 
i=1
sum=0
while i<=10:
    sum=i+sum
    i=i+1
print(sum)

55

In [2]:
#product
i = 1
p = 1

while i <= 10:
    p = p * i
    i += 1

print(p)

3628800

In [1]:
#using for loop for sum and product 
sum=0
p=1
for i in range (1,11):
    sum=i+sum
    p=p*i
print(sum)
print(p)

55
3628800

In [3]:
# 3. """The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the units of electricity consumed in a month from the user as input.
#Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250""".##

In [2]:
e = int(input("Enter usage: "))  # Assuming user inputs usage amount

if e > 300 and e<400:
    bill = 100 * 4.5 + 100 * 6+ 100*10+(e-300)*20
elif e>200 and e<300:
    bill= 100*4.5+ 100*6+(e-200)*10
elif e>100 and e<200:
    bill = 100*4.5+ (e-100)*6

print("Total bill:", bill)

Enter usage:  310

Total bill: 2250.0

In [ ]:
# Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.

In [1]:
#using while loop 
m=list(range(1,101,1))
print(m)
i=1
n=[]
while i<len(m):
    c=m[i]**3
    if(c)%4==0 or (c)%5==0:
        n.append(c)
    i=i+1
m.extend(n)
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [1]:
#using for loop
m=list(range(1,101,1))
for i in range(len(m)):
    c=m[i]**3
    if (c)%4==0 or (c)%5==0:
        m.append(c)
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
#5 Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [ ]:
s="I want to become a data scientist"
c=0
for i range(len(m)):
    if s[i]==a or